# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false


# git add .
# git commit -m "message"
# git push ionic master
# git push origin master

#cordova plugin remove cordova-plugin-ionic-webview
# ionic cordova plugin rm cordova-plugin-WKWebView-engine