<ion-header>
  <ion-navbar class="home-header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logo.png" class="header-logo">

    <ion-title style="margin-top: 5px; margin-left: 5px;">
      {{ 'page.homeTitle' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page">
  <ion-img src="assets/imgs/logo.png" class="home-logo"></ion-img>
  <ion-list>
    <button ion-item no-lines="true" *ngFor="let item of items" (click)="itemTapped(item)" style="margin-bottom: 15px; border-radius: 15px; background: rgba(255,255,255,0.7); ">
      <ion-icon [name]="item.icon" item-start style="margin-bottom: 15px; border-radius: 15px;"></ion-icon>
      {{ item.title | translate }}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title | translate}}</b>
  </div>
</ion-content>
