<!--
  Generated template for the RecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar class="home-header">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <img src="assets/imgs/logo.png" class="header-logo">

      <ion-title style="margin-top: 5px; margin-left: 5px;">{{ 'page.record' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page">
    <ion-row  style="background: #fff; margin-bottom: 15px;">
      <div col-4>
        <ion-img src="http://maynga01.no-ip.org:8008/images/{{ student.school }}/{{ student.photo }}" class="studentPhoto" style="height: 100%; width: 100%; max-height: 170px; max-width: 120px; background: #fff"></ion-img>
      </div>
      <div col-8>
        <ion-row>
          <ion-col col-12>{{ 'student.chiname' | translate }}: {{ student.chiname }}</ion-col>
          <ion-col col-12>{{ 'student.name' | translate }}: {{ student.name }}</ion-col>
          <ion-col col-12>{{ 'student.school' | translate }}: {{ 'Schools.'+student.school | translate }}</ion-col>
          <ion-col col-12>{{ 'student.cur_class' | translate }}: {{ student.cur_class }}</ion-col>
        </ion-row>
      </div>

    </ion-row>
    <accordion-list title="{{ 'SchoolRecord.SchoolRecord' | translate }}"
                    textColor="#FFF"
                    hasMargin="false"
                    headerColor="#a32e6a"
    >
      <ion-list>
        <button ion-item *ngFor="let record of schoolRecords">
          <ion-row style="background: rgba(163,46,106,0.3);">
            <ion-col col-6>{{ 'SchoolRecord.'+record.typeofrecord | translate }}</ion-col>
            <ion-col col-6>{{ record.timeofrecord }}</ion-col>
          </ion-row>
        </button>
      </ion-list>

    </accordion-list>
    <accordion-list title="借書記錄"
                    textColor="#FFF"
                    hasMargin="false"
                    headerColor="#a32e6a"
    >
        <ion-list>
            <div *ngIf="bookRecords?.length <= 0">
                <ion-row style="background: rgba(163,46,106,0.3);margin-bottom: 10px;">
                    <ion-col col-12>沒有記錄</ion-col>
                </ion-row>
            </div>
            <button ion-item *ngFor="let record of bookRecords; let i = index">

                <ion-row style="background: rgba(163,46,106,0.3);margin-bottom: 10px;">
                    <ion-col col-4>{{ 'BookRecord.bookname' | translate }}:</ion-col><ion-col col-8>{{ record.bookname }}</ion-col>
                    <ion-col col-4>{{ 'BookRecord.dateofborrow' | translate }}:</ion-col><ion-col col-8>{{ record.dateofborrow }}</ion-col>
                    <ion-col col-4>{{ 'BookRecord.dateofreturn' | translate }}:</ion-col><ion-col col-8>{{ record.dateofreturn }}</ion-col>
                    <ion-col col-4>{{ 'BookRecord.systemId' | translate }}:</ion-col><ion-col col-8>{{ "#"+(i+1) + "." + record.rfid }}</ion-col>
                </ion-row>
            </button>
        </ion-list>

    </accordion-list>



</ion-content>